body{
    /* background-color: #f0f0f0; */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #464141;
}

#sidebar{
    background-color: #333;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.chatBox{
    padding: 10px 0px;
}

#navbar{
    background-color: #464141;
    color: #fff;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 20px;
    z-index: 10;
    transition: all 0.5s;
}

.title{
    margin: 0;
    line-height: 50px;
    text-align: center;
}

#body{
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#body>div{
    scrollbar-color: #333 transparent;
}

#chatting {
    width:80%;
    height: 100%; /* 100% of the viewport height */
    display: flex;
    position: relative;
    overflow-y: hidden; /* Allow scrolling if content overflows */
    padding-top: 10px;
    padding-bottom: 30px; 
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;;
}

.input-message {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px; /* Optional: for some padding */

}

.ib_user{
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 20px 10px;
    margin-left: auto;
    margin-right: auto;
}
.ib_user div{
    position: relative;
    max-width: 70%;
    border-radius: 1.5rem;
    background-color: #5e5e5e;
    padding: 10px 20px;
    line-height: 16px;
}
.ib_user div p {
    line-height: 16px;
    margin-bottom: 0;
    white-space: pre-wrap;
}

.ib_bot{
    padding: 10px 20px;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.ib_bot p{
    margin-bottom: 0;
}

#userInput {
    border-radius: 26px;
    background-color: #5e5e5e;
    width: 80%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.flex-1{
    flex: 1 1 0%;
}