{% load static %}
{% include 'head.html' %}
<body>
    <div class="position-relative d-flex h-100 w-100 overflow-hidden">
        <!-- Sidebar -->
        <!-- <div class="flex-column flex d-flex position-relative w-100 h-100 flex-shrink-0" style=" width: 300px !important; overflow-x: hidden;">
            <div class="h-100" style="width: 300px;">
                <div id="sidebar">
                    <div class="h-100 px-3 d-flex flex-column align-items-center align-items-sm-start pt-3 min-vh-100">            
                        <div class="d-flex nav-item justify-content-between w-100">
                            <div>QAI bot</div> 
                            <button>
                              <i class="fa-solid fa-bars"></i>
                            </button>
                        </div>
                        <ul id="conversations" class="d-flex frame nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                            {% if all %}
                                {% for item in all %}
                                    <li class="nav-item">
                                        <a href="{{item.id}}">{{ item.name }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <div class="d-flex align-items-center align-items-sm-start w-100 my-3 justify-content-center">
                            <button class="btn btn-primary">report issue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        {% include 'sidebar.html' %}
        <!-- Main content -->
        {% block chatting-content %}
        {% endblock %}

        {% block login%}
        {% endblock %}
    </div>
    <script src="{% static 'website/js/script.js' %}"></script>
    <script src="{% static 'website/js/load.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.bundle.js' %}"></script>
</body>
